<header>
  <h3>Client Creation</h3>
</header>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Add Client" icon="pi pi-plus" (click)="addClient()"
        class="p-button-success p-mr-2"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Upload" chooseLabel="Bulk Upload"
        class="p-mr-2 p-d-inline-block"></p-fileUpload>
    </ng-template>
  </p-toolbar>
</div>



<!-- Dialog box to add Client -->
<p-dialog [(visible)]="clientDialogue" [style]="{width: '450px'}" header="Client Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
      
    <div class="p-field">
          <label for="name">Company Name</label>
          <input type="text" pInputText id="name" pattern="[a-zA-Z ]{2,20}" [(ngModel)]="client.companyName" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !client.companyName">Company Name is required.</small>
    </div>
      
    <div class="p-field">
          <label for="description">Permenant Account Number(PAN)</label>
          <input type="text" pInputText id="PAN" pInputText pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" [(ngModel)]="client.pan" required autofocus/>
    </div>
      
    <div class="p-field">
        <label for="description">Tax Collection Account Number(TAN)</label>
        <input type="text" pInputText id="TAN" pInputText pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}" [(ngModel)]="client.tan" required autofocus/>
    </div>
      
    <div class="p-field">
        <label for="name">Group Company</label>
        <input type="text" pInputText id="group_company" pattern="[a-zA-Z ]{2,20}" [(ngModel)]="client.groupCompany" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !client.groupCompany">Group Company Name is required.</small>
    </div>
    
    <div class="p-field">
      <label for="name">Precision ID</label>
      <input type="text" pInputText id="precision ID" pattern="[a-zA-Z 0-9]{2,10}" [(ngModel)]="client.precisionId" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !client.precisionId">Precision ID is required.</small>
    </div>

    <div class="p-field">
      <label for="name">Approver</label>
      <input type="text" pInputText id="approver"   pattern="^[A-Za-z0-9._%+-]+@pwc.com$" [(ngModel)]="client.approver" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !client.approver">Approver Name is required.</small>
    </div>


  </ng-template>
  
  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClient()"></button>
  </ng-template>
</p-dialog>





<!-- Table to show client data -->

<p-table #dt [value]="client1" [rows]="3" [paginator]="true"
  [globalFilterFields]="['companyName','PAN','groupCompany','approver']" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage Products</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">

      </th>

      <th pSortableColumn="id">Client Id <p-sortIcon field="id"></p-sortIcon>
      </th>

      <th pSortableColumn="companyName">Company Name <p-sortIcon field="companyName"></p-sortIcon>
      </th>
      <th pSortableColumn="PAN">Permenant Account Number (PAN) <p-sortIcon field="PAN"></p-sortIcon>
      </th>
      <th pSortableColumn="TAN">TAX Collection Account Number (PAN) <p-sortIcon field="TAN"></p-sortIcon>
      </th>
      <th pSortableColumn="groupCompany">Group Company <p-sortIcon field="groupCompany"></p-sortIcon>
      </th>
      <th pSortableColumn="PrecisionId">Precision Id <p-sortIcon field="PrecisionId"></p-sortIcon>
      </th>
      <th pSortableColumn="approver">Approver <p-sortIcon field="approver"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">Created At <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th pSortableColumn="updatedAt">Updated At <p-sortIcon field="updatedAt"></p-sortIcon>
      </th>
      <th>Action</th>
      <th pSortableColumn="status">Status 
      </th>

      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client1>
    <tr>
      <td>

      </td>
      <td>{{client1.id}}</td>
      <td>{{client1.companyName}}</td>
      <td>{{client1.pan}}</td>
      <td>{{client1.tan}}</td>
      <td>{{client1.groupCompany}}</td>
      <td>{{client1.precisionId}}</td>
      <td>{{client1.approver}}</td>
      <td>{{client1.createdAt| date:'EEE, dd-MMM yyyy'}}</td>
      <td>{{client1.updatedAt| date:'EEE, dd-MMM yyyy'}}</td>
      <td>
        <p-button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editClient(client1)"></p-button>
      </td>
      <td>
        <p-toggleButton [(ngModel)]="checked2" onLabel="Active" offLabel="Deactive" Icon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{client1 ? client1.length : 0 }} clients.
    </div>
  </ng-template>
</p-table>