body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }

  .spacer{
    flex: 1 1 auto;
  }
// .info {
//     background: black;
//     color: blue;
// }
// .success {
//     background: black;
//     color: green;
// }
// .error {
//     background: black;
//     color: red;
// }